---


---



<footer class=" w-10/12 m-auto flex flex-col items-center gap-y-5 md:flex-row md:justify-between my-6 md:gap-x-8 lg:gap-x-0">
    <div class="flex flex-col sm:flex-row items-center gap-y-5 sm:gap-y-0 gap-x-6">
        <a class=" border-b hover:text-gray-200 text-lg"  href="#">About me</a>
        <a class=" border-b hover:text-gray-200 text-lg"  href="#">Contact</a>
        <a  class=" border-b hover:text-gray-200 text-lg" href="#">Dowload CV</a>
    </div>
    <div>
        <p class="text-lg"> &#169 2024 Alfre, all rights reserved
        </p>
    </div>

</footer>