---


---



<footer class="w-9/12 m-auto flex justify-between my-6">
    <div>
        <p class="text-lg"> &#169 2024 Alfre, all rights reserved
        </p>
    </div>

    <div class="flex gap-x-6">
        <a class=" border-b hover:text-gray-200 text-lg"  href="#">About me</a>
        <a class=" border-b hover:text-gray-200 text-lg"  href="#">Contact</a>
        <a  class=" border-b hover:text-gray-200 text-lg" href="#">Dowload CV</a>
    </div>
</footer>