---

---


<header class="flex flex-col sm:flex-row sm:justify-between items-center py-6 w-9/12 m-auto gap-y-6 sm:gap-y-0">
    <img src="/imagen-logo.png" alt="alfrechazarreta logo" class=" w-16 rounded-full">
    <nav class="flex flex-col sm:flex-row items-center gap-x-10 opacity-80 text-lg gap-y-4 sm:gap-y-0">
        <a href="">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>