---
import ExperienceItem from '../components/ExperienceItem.astro'

const experience = [
    {
        time: 'December 2023',
        title: 'Working in project of App, his name is "BLIND", for "BLIND COMPANY"',
        description: 'I am currently working with a team of 5 people, I am in charge of the FrontEnd part. For this project, technologies such as React, Tailwind are being used.'
    },
    {
        time: 'Jaunary 2024',
        title: 'Working in project of ecommerce for ONEFIT suplements. (FREELANCING)',
        description: 'In this project, WordPress was used, it is an ecommerce for a supplements business in Argentina'
    },
    {
        time: 'February 2024',
        title: 'Working in ecommerce page for "Keyster Company"',
        description: "In this project, WordPress was used"
    }
]

---
<section class="w-9/12 sm:w-3/4 md:w-2/4 m-auto mt-28">
    <h2 class=" text-3xl font-semibold mb-4 text-gray-300">Work experience</h2>
    <ol class="relative border-s border-gray-200 dark:border-gray-700">   
        {experience.map((e) => (
            <li class="mb-10 ms-4">
                <ExperienceItem description={e.description} title={e.title} time={e.time}/>
            </li>
        ))}               
    </ol>
</section>

